*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin sans',sans-serif;
    background-color: black;
    color: white;
}
*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin sans',sans-serif;
    color: white;
}

body{
    background: linear-gradient(90deg,rgb(10, 0, 0),black);
    display: flex;
}
.container
{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.bubble{
    position: relative;
    background: linear-gradient(rgb(27, 0, 234),rgb(59, 59, 192),rgb(64, 134, 225),rgb(117, 191, 220));
    height: 300px;
    width: 300px;
    box-shadow: 0 0 5px rgb(208, 109, 126),;
    border-radius: 50%;
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: translateX(30%) translateY(-40vh);
        transition: ease-in-out;
        opacity: 30%;
    }
    25%
    {
        transform: translateX(32%) translateY(-42vh);
        transition: ease-in-out;
    }
    50%
    {
        transform: translateX(34%) translateY(-40vh);
        transition: ease-in-out;
    }
    75%
    {
        transform: translateX(33%) translateY(-38vh);
        transition: ease-in-out;
    }
    100%
    {
        transform: translateX(30%) translateY(-40vh);
        transition: ease-in-out;
        opacity: 30%;
    }
   
}

.bubble2{
    position: relative;
    background: linear-gradient(rgb(217, 0, 251),rgb(236, 78, 226));
    height: 200px;
    width: 200px;
    box-shadow: 0 0 1px rgb(208, 109, 126),
    0 0 20px rgb(204, 30, 152),
    0 0 10px rgb(244, 47, 100);
    border-radius: 50%;
    animation: animate2 20s linear infinite;
}
@keyframes animate2{
    0%
    {
        transform: translateX(0%) translateY(-250vh);
        transition: ease-in-out;
        opacity: 0%;
    }
    25%
    {
        transform: translateX(680%) translateY(-200vh);
        transition: ease-in-out;
        opacity: 8%;
    }
    50%
    {
        transform: translateX(340%) translateY(0vh);
        transition: ease-in-out;
    }
    75%
    {
        transform: translateX(10%) translateY(-150vh);
        transition: ease-in-out;
    }
    100%
    {
        transform: translateX(50%) translateY(-250vh);
        opacity: 50%;
    }
}


.header{
    height: 20vh;
    width: 100%;
    color: white;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:40px 10% 10% ;
}
nav>h1{
    padding: 0px;
    margin: 0px;
}

.header>nav>img{
    height: 80px;
    width: 80px;
    border-radius: 10px;
    cursor: pointer;
    
}
nav>ul>li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav>ul>li>a{
    font-weight: bold;
    text-decoration: none;
    color: white;
}
nav>ul>li>a:hover{
    color: rgb(244, 8, 75);
    transition: 0.3s;
}
.mbutt{
    border: none;
    background-color: rgb(244, 8, 75);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    transition: 0.4s;
}
.mcbutt>a{
    text-decoration: none;
    background: linear-gradient(90deg,rgb(102, 210, 102),rgba(3, 158, 148, 0.557));
}
.mbutt:hover{
    transform: scale(1.2);
    cursor: pointer;
}
.mcontent>button>a{
    text-decoration: none;
    background: linear-gradient(90deg,rgb(41, 42, 41),rgb(229, 11, 83));
}
.mi{
    display: flex;
    justify-content: space-evenly;
}

.mcontent>h4,h3{
    font-weight: lighter;
    padding: 10px;
}
.mcontent>h2{
    background: linear-gradient(90deg,#05bbf2,#fc00ff);
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: bold;
    -webkit-background-clip: text;
    color: transparent;
}

.mi>img{
    height: 300px;
    position: relative;
    box-shadow: 0 0 35px rgb(187, 119, 119);
    border-radius: 10px;
    cursor: grab;
    border-radius: 40px;
    opacity: 80%;
}

.mi>img:hover{
    opacity: 40%;

}

.mcontent>button{
    background: linear-gradient(90deg,rgb(41, 42, 41),rgb(229, 11, 83));
    font-weight: bolder;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: 0.4s;
}
.mcontent>button:hover{
    transform: scale(1.2);
}
.contact{
    text-align: center;
}
.cimage{
    height: 100px;
}
.contact>p{
    width: 300px;
    margin-left: 40%;
    padding: 8px;
    word-spacing: 3px;
    line-height: 1.2;
}
.contact>p>a{
    text-decoration: none;
    color: rgb(18, 193, 129);
}
.contact>h2{
    margin: 20px;
    
}
.contact>button{
    background: linear-gradient(90deg,rgb(102, 210, 102),rgba(3, 158, 148, 0.557));
    font-weight: bolder;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: 0.4s;
}